#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --main-text: rgb(217, 196, 196);
}

body {
  background: rgb(36, 40, 38);

  * {
    color: var(--main-text);
  }
}

h4,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: .6rem;
  line-height: 1.1rem;
}